
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #E1D4C9;
  color: #403F3D;
  font-family: 'Inter', sans-serif; 
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit; /* Ссылки берут цвет у родителя */
}

img, picture {
  max-width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
}

/* --- СЕТКА ХЕДЕРА --- */
.head {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px 40px;
}


.main-nav ul {
  display: flex;
  gap: 40px;
  font-size: 16px;

}

.main-nav a {
  font-weight: 600;
}


.header-actions {
  display: flex;
  align-items: center;
  gap: 30px;
}

.dark-lig {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #C1B6AD;
  border-radius: 20px; 
  padding: 4px;
}

.sun, .moon {
  height: 22px;
  width: 22px;
  border-radius: 50%; 
  padding: 4.5px;
  transition: background-color 0.3s ease; 
}
.sun {
  background-color: #B0907A; 
}
.moon {
    color: #E1D4C9;
  background-color: transparent;
}

.moon img {
  transition: filter 0.3s ease;
}



.menu a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  transition: all 0.3s ease;
  
}

.header-actions {
    gap: 24px;
}

/* --- хвоерчики ХЕДЕРА --- */
.main-nav a{

  display: inline-block;
  transition: all 0.3s ease;
}

.main-nav a:hover {
   color: #B0907A;
   transform: translate(0,-2px);
 text-shadow: 0 8px 15px #cebeb2;

}

.menu a img {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.menu a:hover {
  transform: translateY(-2px);
  color: #B0907A;
  text-shadow: 0 8px 15px #cebeb2;
}


.menu a:hover img {
  transform: rotate(12deg) scale(1.1); 

}

.moon:hover {
  background-color: #665F55;
}
